section {
  width: 80%;
  height: 200px;
  /* background-image: url("https://images.unsplash.com/photo-1585445490387-f47934b73b54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: top; */
  background: center/cover url("https://images.unsplash.com/photo-1585445490387-f47934b73b54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: darkred -3px 3px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  color: white;
}