body {
  background-color: #f1faee;
}

button {
  font-size: 20px;
  background-color: #a8dadc;
}

h1, h2 {
  color: #1d3557;
}

#signUp {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: #547b9d;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

span a {
  color: #a8dadc;
}

.post a {
  color: #a8dadc;
}

footer a {
  color: red;
}


/* Adjacent Selector 
 select the element that is directly preceded by the prior */

h2+button {
  font-size: 15px;
  background-color: #1d3557;
  color: #f1faee;
}


/*
Direct Child Selector
Selects the elements that are a direct child of the prior
1 level down the hierarchy 
 */

footer>a {
  color: #a8dadc;
}