/* IDs can be added on an HTML element when we need to single it out ot style differently */


/* ID should be Unique per document */

body {
  background-color: #f1faee;
}

button {
  font-size: 30px;
  background-color: #a8dadc;
}

h1, h2 {
  color: #1d3557;
}

#signUp {
  background-color: #1d3557;
  color: #f1faee;
}