h2 {
  color: teal;
  background-color: darkgreen;
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background-color: rgb(255, 145, 0);
}

body {
  background-color: #c5e;
}