h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: #f71973 overline underline line-through wavy;
  letter-spacing: 15px;
  font-size: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  line-height: 2;
  text-align: right;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}