
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "fira code", monospace;
}
.header{
    text-align: center;
}
.arrowWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height:calc(100vh - 80px);
  background-color: #f2ebdd;
}
.arrowWrapper > div {
  /* width: 50%; */
  /* text-align: center;
  font-size: 12px;
  border: 0.5px solid; */
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowWrapper > div > img{
    width: 20px;
    height: 30px;

}
